<div class="column is-half">
 	<article class="media box">
		<figure class="media-left">
			<p class="image is-64x64">
				<img src="htps://bulma.io/images/placeholers/64x64/png" >
			</p>
		</figure>
		<div class="media-content">
			 <%= render 'tweeets/form' %>
		</div>
	</article>
</div>
 <% tweeets.each do |tweeet| %>
 


 <% end %>

